<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
</head>
<body>
  <div align="center">
      <h1> <span th:text="${result}"></span></h1>
      <!--<h1>欢迎 ： <span  th:text="${session.user}?${session.user.getUsername()}:'（您未登录）'" ></span> </h1>-->
      <a th:href="@{/register}">点击注册</a><br>
      <a th:href="@{/login}">点击登录</a>
      <!--<a th:href="@{/login}" th:if="${session.user==null}">点击登录</a>-->
  </div>
</body>
</html>